/*

	Theme Name: Ocales
	Theme coder: Ahmed Shahien
	PSD Desginer: Shaheen

*/





* {
	font-family: "open sans";
	box-sizing: border-box;
	webkit-transition: .25s all ease-in-out;
	o-transition: .25s all ease-in-out;
	transition: .25s all ease-in-out;
}

body {
	color: #000;
}

img {
	max-width: 100%;
}


h3 {
    font-size: 40px;
	color: #222;
	border-bottom: 2px solid#222;
	width: 25%
}

/* End global */

button:focus{
	outline: none;
}
input:focus{
	outline: none;
}

/* Start Upper Bar */

.upper-bar{
	height: 60px;
	border-bottom: 1px solid #dedede;
}
.upper-bar i{
	margin-top: 25px; 
}
.upper-bar i span {
	margin-left: 8px;
	color:#666666;
}

.upper-bar i:hover, .upper-bar i span:hover {
    color: #eaac00;
    cursor: default;
    transition: color .5s ease-in-out;
}
.upper-bar i.fas.fa-phone {
    margin-right: 50px;
} 


/* End Upper Bar */

/* Start nav Bar */


.navbar {
	font-weight: bold;
}
.navbar-brand h6:hover {
    color: #fff;
    transition: all .5s ease-in-out
}

.navbar-brand p:hover {
    color: #fff;
    transition: all .5s ease-in-out
}

.collapse.navbar-collapse a:hover {
    background-color: transparent;
    color: #eaac00;
    transition: all .5s ease-in-out
}
.navbar a:hover {
    background-color: #eaac00;
    color: #fff;
}

.navbar-light .navbar-brand span:nth-of-type(2){
    display: block
}
.navbar-brand p {
	font-size: 13px;
}

.navbar-light .navbar-brand h6 {
	font-size: 25px;
	padding-top: 0px;
    	margin-top: 25px;
	font-weight: bold;
	margin-bottom: 2%;
	line-height: 1;

}

ul.navbar-nav.ml-auto {
    margin-right: 7%;
}


.navbar-light .navbar-nav .nav-link {
    letter-spacing: 3px;
    color: #000;
    margin-left: 31px;
    font-size: 18px;
    transition: all .5s ease-in-out
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.collapse.navbar-collapse a {
	font-size: 20px;
	color:#000;
	margin-left: 20px;
	text-decoration: none;
}

.collapse.navbar-collapse ul a:hover{
        background-color: #eaac00;
    color: #fff;
}

nav .form-inline .form-control {
    display: none;
}



nav button {
    border: none;
    background-color: transparent;
}

button:hover .form-control {
	display: inline-block;
	color: red
}



/* End nav Bar */



.breadcrumb {
    padding: 0;
    margin-bottom: 5%;
    margin-left: 40%;
    background-color: transparent
}


.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: none;
	background: rgba(0, 0, 0, 0);
}

li,
h4,
span,
p {
	padding: 0;
	margin: 0;
}

.columns-2 .columns-4,
.columns-9,
.column-12 {
	webkit-box-sizzing: border-box;
	width: 100%;
	padding:0
}

@media(min-width:768px) {
	.columns-9 {
		width: 100%;
		float: none;
	}
	.columns-3 {
		width: 33.33333%;
		float: left;
	}
	.column-2 {
		width: 50%;
		float: left;
	}
}

@media(min-width:992px) {
	.columns-3,
	.columns-4,
	.columns-9 {
		float: right;
	}
	.columns-9 {
		width: 75%;
	}
	.columns-4 {
		width: 25%;
	}
	.columns-3 {
		width: 33.3333%;
	}
	.column-2 {
		width: 100%;
	}
}




.items-list-links {
	display: block;
}

.items-list-item-links {
	display: inline-block;
	padding: 0 20px 0 0;
	margin: 0;
}

.items-list-item-links a {
	text-decoration: none;
	color: #ff5912;
	font-size: 18px;
	line-height: 50px;
	font-weight: 800px;
}

.sidebar a:hover {
    color: #eaac00;
    transition: all ease-in-out .5s
}

.sidebar-checkbox label:hover {
    color: #eaac00;
    transition: all ease-in-out .5s
} 

.footer-inner-list a:hover {
    color: #eaac00;
    transition: all ease-in-out .5s 
}

@media(min-width:992px) {
	.items-list-links {
		display: none;
	}
}

.content {
	background-color: #eeeeee;
	height: auto;
	/*   padding: 0 15px; */
	width: 100%;
}

.form input {
    width: 84%;
    margin-left: 10px;
    margin-top: 20%;
}

.form p {
    font-size: 14px;
}

.section-inner-img {
	text-align: center;
	padding: 30px 0;
}

.hover-state-content-list {
	display: block;
	padding-left: 0;
}

.hover-state-content-list-item-size {
	display: block;
	text-align: center;
}

.hover-state-content-list p {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.hover-state-content-list-item {
	display: block;
}

.img-color-list i {
	display: block;
	font-size: 14px;
}

.img-color-list {
	padding-left: 0;
}

.color-list-item {
	display: inline-block;
	padding: 0 5px;
	width: 14px;
	height: 14px;
	font-size: 14px;
	margin-bottom: 60px;
}

.hover-state-shopping-list-icons {
	display: block;
}

.hover-state-shopping-list-item-icons {
	display: inline-block;
	padding: 0 28px 0 0;
	font-size: 14px;
	font-weight: 400;
}

.hover-state-shopping-list-item-icons i {
	font-size: 16px;
	padding-left: 0;
}

.hover-state-content-list-item-size p {
	padding: 0 25px;
	word-spacing: 10px;
	margin-bottom: 31px;
	line-height: 16px;
}

.color-list-item:nth-of-type(1) {
	color: red;
}

.color-list-item:nth-of-type(2) {
	color: darkgray;
}

.color-list-item:nth-of-type(3) {
	color: cornflowerblue;
}

.color-list-item:nth-of-type(4) {
	color: green;
}

.hover-state-shopping-list-item-icons:nth-of-type(2) {
	color: #eaac00;
}

.section-inner-img {
	background-color: #f4f6f8;
	max-height: 100%;
	margin-top: 0;
	margin-right: 15px;
	margin-bottom: 30px;
	margin-left: 15px;
}

@media(min-width:992px) {
	.section-inner-img {
		background-color: #f4f6f8;
		max-height: 100%;
		height: 365px;
		margin-top: 0;
		margin-right: 15px;
		margin-bottom: 30px;
		margin-left: 15px;
	}
}

.display-normal span {
	color: #eaac00;
}

.display-hover {
	margin: 15px 0 0px 0;
}

.display-hover ul {
    margin-bottom: -7%
}

@media(min-width:992px) {
	.display-hover {
		display: none;
	}
	.section-inner-img:hover .display-hover {
		display: block;
		cursor: pointer;
	}
	.section-inner-img:hover img {
		width: 50%;
        transition: all 1s ease-in-out
	}
	.section-inner-img:hover span {
		display: none;
	}
	.section-inner-img:hover .display-normal h5 {
		color: #eaac00;
	}
}

.sidebar {
	height: auto;
	width: 100%;
	text-align: left;
	text-transform: capitalize;
	font-weight: 800;
	padding: 0px;
}

.sidebar-checkbox {
	background-color: #f8f8f8;
	width: 90%;
	margin: 0 auto;
	padding: 0 15px;
}

.sidebar h4 {
    color: #eaac00;
    font-size: 18px;
    font-weight: 600;
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 0%;
    padding-left: 4px;
}

@media(min-width:992px) {
	.sidebar {
		text-align: left;
		padding: 0 30px;
		margin: 0;
	}
}

.footer-inner-list {
	color:#eaac00;
	font-size: 16px;
	font-weight: 600;
	display: block;
	padding-left: 0;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 15px;
}

.footer-inner-list-items {
	display: block;
	line-height: 50px;
	padding-left: 0;
	margin-left: 0;
	margin-left: 26px;
}

.sidebar a {
	text-decoration: none;
	color: #000;
}

@media(min-width:768px) {
	.footer {
		width: 50%;
		margin: 0 auto;
		background-color: #f8f8f8;
	}
	.sidebar {
		margin: 14px 12px;
	}
}

input {
	height: 20px;
	width: 20px;
	margin-left: 10px;
}

.footer {
	height: auto;
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.sidebar .label {
	position: relative;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 45px;
	padding-right: 10px;
	line-height: 36px;
	cursor: pointer;
}

.label::before {
	content: " ";
	position: absolute;
	top: 6px;
	left: 0;
	display: block;
	width: 24px;
	height: 24px;
	background-color: #eeeeee;
}


/* Checked */

input[type="checkbox"]:checked+.label {
	color: #eaac00;
}

input[type="checkbox"]:checked+.label::before {
	border: 8px solid #ff5941;
	background-color: #ffffff;
}

.column-2 {
	background-color: #f8f8f8;
	margin: 0 30px;
	margin-bottom: 30px;
}

@media(min-width:768px) {
	.column-2 {
		background-color: #f8f8f8;
		width: 45%;
		margin: 0 auto;
		margin-right: 15px;
		margin-left: 15px;
		margin-bottom: 30px;
	}
	.sidebar-checkbox {
		background-color: #f8f8f8;
		width: 90%;
		margin: 0 auto;
		padding: 0 15px;
		height: 326px;
	}
	.sidebar-checkbox input {
		margin: 1px 5px;
	}
}

@media(min-width:992px) {
	.column-2 {
		background-color: #f8f8f8;
		width: 100%;
		margin-bottom: 30px;
	}
	.sidebar-checkbox {
		background-color: #f8f8f8;
		width: 90%;
		margin: 0 auto;
		padding: 0 15px;
	}
	.sidebar-checkbox input {
		margin: 0 5px;
	}
}


/* price-filter */

.price-filter {
	height: 181px;
	max-height: 100%;
	padding-left: 30px;
	width: 100%;
}

.form {
	width: 90%;
}

.form label,
span {
	display: inline-block;
}

.ui-slider {
	height: 0px;
}

.control {
	width: 50px;
	background-color: #eeeeee;
	border: none;
	height: 25px;
	padding: 0;
	margin: 0;
	margin-right: 20px
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	color: #000;
	background-color: #000;
}

.ui-state-default,
.ui-widget-content .ui-state-default:focus {
	outline: none;
}

.ui-slider-range,
.ui-corner-all,
.ui-widget-header {
	background-color: red;
}

.sidebar label .price-filter label {
	width: 0;
	height: 0;
	margin: 0;
}

.spanOutput1 {
	margin-left: 50px;
}


/* price-filter end */


/* start footer */


.footer {
    background-color: transparent
}

.footer .mb-3, .my-3 {
    margin-bottom: 2%!important;
    margin-left: 45%;
}

.footer .btn-secondary {
    padding-right: 10%;
    
}

.footer .btn-secondary:hover{
    color: #eaac00;
}



/* End footer */




/* start media */


/* start media 1024px */

@media (max-width: 1024px) {
    
    ul.navbar-nav.ml-auto{
        margin-right: 4%
    }
    
   .navbar-light .navbar-nav .nav-link {
        letter-spacing: 2px;
        color: #000;
        margin-left: 0%;
        font-size: 17px;
        padding-right: 20px;
    } 
}


/* end media 1024px */


/* start media 768px */

@media (max-width: 768px){
    
    .fa-search:before {
        content: "\f002";
        margin-left: 39%;
    }
    
    .form p {
        margin-top: 20%;
    }
    
    .footer .mb-3, .my-3 {
        margin-left: 40%;
    }
}


/* end media 768px */


/* start media 414px */

@media (max-width: 414px) {
    body{
        overflow-x: hidden
    }
    .upper-bar i {
        margin-top: 4%;
    }
    
    .upper-bar i.fas.fa-phone {
        margin-right: 1%;
        font-size: 14px;
    }
    
    .items-list-item-links a{
        font-size: 15px;
        color: #eaac00;
    }
    
    row {
        padding: 0;
        margin: 0;
    }
    
    .row.clearfix {
        margin: 0;
        padding: 0;
    }
    .columns-3 {
        width: 33.33333%;
    }
 
    .section-inner-img  {
        margin-bottom: 12%
    }
    
     h5 {
        font-size: 15px; 
    }
    
    .column-2 {
    background-color: #f8f8f8;
        margin: 0;
        margin-bottom: 0;
        width: 0;
        display: table-footer-group;
    }
    
    .form p {
        margin-top: 34%;
        font-size: 25px;
    }
}


/* end media 414px */


/* start media 375px */

@media (max-width: 375px) {
    .upper-bar i {
        font-size: 12px
    }
    
    .upper-bar i.fas.fa-phone {
        font-size: 13px;
        margin-right: 3%
    }
    
    .items-list-item-links a {
    font-size: 13px;
}
    
}
    
/* end media 375px */


/* start media 360px */

@media (max-width: 360px) {
    .items-list-item-links a {
    font-size: 12px;
}
    
}
    
/* end media 360px */


/* start media 320px */

@media (max-width: 320px) {
    
    .upper-bar i.fas.fa-phone {
        font-size: 10px;
        margin-right: 2%;
    }
    
    .items-list-item-links a {
    font-size: 10px;
}
    
}
    
/* end media 320px */

/* end media */
























