/*

	Theme Name: Fashion Shop
	Theme coder: Ahmed Shaheen
	PSD Desginer: Shaheen

*/


/* global */

*{
	padding: 0px;
	margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;

}

h3 {
    font-size: 40px;
	color: #222;
    display:inline-block;
	border-bottom: 2px solid #222;
}

/* End global */

button:focus{
	outline: none;
}
input:focus{
	outline: none;
}

/* Start Upper Bar */

.upper-bar{
	height: 60px;
	border-bottom: 1px solid #dedede;
}
.upper-bar i{
	margin-top: 25px; 
}
.upper-bar i span {
    margin-left: 8px;
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #999999;
}

.upper-bar i:hover, .upper-bar i span:hover {
    color: #eaac00;
    cursor: default;
    transition: color .5s ease-in-out;
}
.upper-bar i.fas.fa-phone {
    margin-right: 50px;
} 


/* End Upper Bar */

/* Start nav Bar */


.navbar {
	font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #222;
}

.collapse.navbar-collapse a:hover {
    background-color: transparent;
/*    border-bottom:1px solid #eaac00;*/
}

li.nav-item:hover{
    border-bottom:1px solid #eaac00;
}

.navbar-brand p {
	font-size: 13px;
	
}

.navbar-light .navbar-brand h6 {
	font-size: 25px;
	padding-top: 0px;
    	margin-top: 25px;
	font-weight: bold;
	margin-bottom: 0px;
	line-height: 1;

}

ul.navbar-nav.ml-auto {
    margin-right: 6%;
}


.navbar-light .navbar-nav .nav-link {
    letter-spacing: 3px;
    color: #000;
    font-size: 18px;
}

.collapse.navbar-collapse a {
    font-size: 20px;
    color: #000;
    margin-right: 20px;
    text-decoration: none;
    display: inline-block;
}


nav .form-inline .form-control {
    display: none;
}



nav button {
    border: none;
    background-color: transparent;
}

button:hover .form-control {
	display: inline-block;
	color: red
}



/* End nav Bar */

/*Start Slider */


.slider .carousel-inner {
	display: flex;
	align-items: center;
	justify-content: left;
}
.slider .carousel-inner h1 {
	position: absolute;
	color: #fff;
    font-weight: 600;
	z-index: 3;
	font-size: 150px;
	left: 7%;
}

.slider .carousel-inner h4 {
	position: absolute;
	color: #fff;
    font-weight: 200;
	z-index: 3;
	font-size: 50px;
	left: 9%;
	top: 68%;
}

.slider .carousel-inner .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 33, .6);
	z-index: 2;
}
.slider .carousel-item {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url(../../images/b.png);
    background-attachment: fixed;
    height: 70vh
}



.carousel-indicators li {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}


/* End slider */

/*Start Sale Products */


.sale-products {
	padding-top: 92px;
    text-align: center
}


 img {
	width: 100%;
    margin-top: 30px;
}


 .rate i {
    color: rgba(255, 215, 0, 1);
    margin: 21px 0;
    cursor: pointer
}

 .info p {
    font-size: 14px;
    margin-bottom: 17px;
}

.info h5 {
    font-size: 24px;
    color: #222;
    font-weight: 700;
    margin-bottom: 30px;
}

.info button {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #fff;
    background-color: #222;
    border-radius: 0;
    margin-bottom: 111px;
}

.info button a {
    color: #fff;
    text-decoration: none
}

.info button:hover {
    color: #ebb410
}

    /* Start section sale */

.special.row {
    margin-right: 0;
}

.special.row .col-md-6 {
    padding: 0;
}

.sale-products .sale {
    position: relative;
    background-color: #eeeeee; 
}
.sale-products .sale .deal h5 {
    position: absolute;
    font-size: 39px;
    color: #fff;
    background-color: #c8c290;
    padding: 3px 13px 8px 30px;
    letter-spacing: 19px;
    top: 12%;
    left: 22%;
}

.sale-products .sale .deal h4 {
    font-size: 56px;
    padding-top: 31%;
    margin-bottom: 11%;
}

.sale-products .sale .deal h6 {
    font-size: 23px;
}
.sale-products .sale .deal p {
    font-size: 51px;
    font-weight: 700;

}

.sale-products .sale .counter {
    position: absolute;
    top: 62%;
    left: 23%;
}



.sale-products .sale tr.info {
    font-size: 51px;
    font-weight: bold
}

.sale-products .sale tr.info td {
    color: #ebb410;
    padding-left: 5%;
    padding-right: 3%;
    border: 2px solid #fff;
}

.sale-products .sale tr.limited td {
    padding-left: 5%;
    padding-right: 4%;
    border: 2px solid #fff;
    font-weight: bold;
}


.sale-products .sale .add {
    padding-bottom: 13%;
    padding-top: 29%
}

.sale-products .sale .add button {
    font-size: 16px;
    color: #fff;
    background-color: #eaac00;
    letter-spacing: 2px;
    padding: 26px 35px;
    border: 0;
    letter-spacing: 6px;
    transition: all .7s linear
}

.sale-products .sale .add button:hover {
    color: #eaac00;
    background-color: #fff;
    box-shadow: 0 6px 8px 0 #eaac00;
    border-radius: 2%px
}

.sale-products .girl {
    height: 100%;
    width: 100%;
    background-image: url(../../images/second-section/Bg.png);  
    background-attachment: fixed;
    background-position: -46% 0%;
    
}

/* End section sale */

/*End Sale Products */


/* Start Featured */

.featured {
	padding-top: 92px;
	margin-bottom: 7%;
    text-align: center
}


.featured h3 {
    width: 34%;
    text-align:center;
    margin:1em;
    text-transform:capitalize;
    font-size:40px;
}

/* featured products */

.demo{padding:45px 0}
.product-grid2{
    font-family:'Open Sans',sans-serif;position:relative
}

.product-grid2 .product-image2{
    overflow:hidden;
    position:relative
}
.product-grid2 .product-image2 a{
    display:block
}
.product-grid2 .product-image2 img{
    width:100%;
    height:auto
}
.product-image2 .pic-1{
    opacity:1;
    transition:all .5s
}
.product-grid2:hover .product-image2 .pic-1{
    opacity:0
}
.product-image2 .pic-2{
    width:100%;
    height:100%;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    transition:all .5s
}
.product-grid2:hover .product-image2 .pic-2{
    opacity:1
}
.product-grid2 .social{
    padding:0;
    margin:0;
    position:absolute;
    bottom:50px;
    right:25px;
    z-index:1
}
.product-grid2 .social li{
    margin:0 0 10px;
    display:block;
    transform:translateX(100px);
    transition:all .5s
}
.product-grid2:hover .social li{
    transform:translateX(0)
}
.product-grid2:hover .social li:nth-child(2){
    transition-delay:.15s
}
.product-grid2:hover .social li:nth-child(3){
    transition-delay:.25s
}
.product-grid2 .social li a{
    color:#505050;
    background-color:#fff;
    font-size:17px;
    line-height:45px;
    text-align:center;
    height:45px;
    width:45px;
    border-radius:50%;
    display:block;
    transition:all .3s ease 0s
}
.product-grid2 .social li a:hover{
    color:#fff;
    background-color:#3498db;
    box-shadow:0 0 10px rgba(0,0,0,.5)
}

.product-grid2 .social li a:after,.product-grid2 .social li a:before{
    content:attr(data-tip);
    color:#fff;
    background-color:#000;
    font-size:12px;
    line-height:22px;
    border-radius:3px;
    padding:0 5px;
    white-space:nowrap;
    opacity:0;
    transform:translateX(-50%);
    position:absolute;
    left:50%;
    top:-30px
}
.product-grid2 .social li a:after{
    content:'';
    height:15px;
    width:15px;
    border-radius:0;
    transform:translateX(-50%) rotate(45deg);top:-22px;
    z-index:-1
}
.product-grid2 .social li a:hover:after,.product-grid2 .social li a:hover:before{
    opacity:1
}
.product-grid2 .add-to-cart{
    color:#fff;
    background-color:#404040;
    font-size:15px;
    text-align:center;
    width:100%;
    padding:10px 0;
    display:block;
    position:absolute;
    left:0;
    bottom:-100%;
    transition:all .3s
}
.product-grid2 .add-to-cart:hover{
    background-color:#3498db;
    text-decoration:none
}
.product-grid2:hover .add-to-cart{
    bottom:0
}
.product-grid2 .product-new-label{
    background-color:#3498db;
    color:#fff;
    font-size:17px;
    padding:5px 10px;
    position:absolute;
    right:0;top:0;
    transition:all .3s
}
.product-grid2:hover .product-new-label{
    opacity:0
}
.product-grid2 .product-content{
    padding:20px 10px;
    text-align:center
}
.product-grid2 .title{
    font-size:17px;
    margin:0 0 7px
}
.product-grid2 .title a{
    color:#303030
}
.product-grid2 .title a:hover{
    color:#3498db
}
.product-grid2 .price{
    color:#303030;
    font-size:15px
}
@media screen and (max-width:990px){.product-grid2{margin-bottom:30px}
}

/* End Featured */

/* start ecommerce */

.instgram h1 {
    text-align: center;
    font-weight: bold
}

.instgram h1:before {
    content: '#';
    color: #eaac00;
}
.instgram p {
    text-align: center;
    color: #888888;
}

.ecommerce-sign {
    padding-top: 100px;
    margin-bottom: 110px;
    text-align: center;
}

.ecommerce-sign p {
    font-size: 14px;
    font-weight: bold;
    padding-top: 30px;
}

.ecommerce-sign i {
    font-size: 38px;
}


/* End ecommerce */

/* Start newsletter */

.newsletter {
    background-color: #f4f4f4;
    text-align: center
}

.newsletter h1 {
    padding-top: 100px;
    margin-bottom: 40px;
    font-size: 48px; 
}

.newsletter p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 80px;
}

.newsletter input {
    width: 36%;
    height: 55px;
    text-indent: 20px;
    margin-right: 1%;
    margin-bottom: 10%;
}

.newsletter button {
    font-size: 16px;
    color: #222;
    background-color: #eaac00;
    letter-spacing: 2px;
    padding: 1.5% 2.4%;
    border: 0;
    letter-spacing: 6px;
    transition: all .7s linear;
    border-radius: 0;
}

/* End newsletter */

/* Start footer */

.footer {
    padding-top: 50px;
    color: #888888;
}
.footer h6 {
    color: #222;
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 44px
}

.footer h6:hover {
    color: #eaac00;
    cursor: default;
    transition: all .2s ease-in-out
}

.footer h5 {
    padding-top: 8%;
    font-size: 14px;
    margin-bottom: 50px
}
.footer ul {
    list-style: none
}

.footer li {
    line-height: 36px
}
.footer li a {
    color: #888888;
    text-decoration: none
}



.footer i {
    padding-right: 15px
}
.footer li:hover{
    color: #eaac00;
    cursor: pointer;
    transition: all .2s ease-in-out
}

.footer li a:hover{
    color: #eaac00;
    cursor: pointer;
    transition: all .2s ease-in-out
}

/* End footer */



/* start one product */


.card img {
    max-width: 100%;
    width: 60%;
    margin-top: 14px;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
}
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } 
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
        border: none;
        margin-top: 15px;
        margin-top: 0;
        margin-bottom: 9%;
}
  .preview-thumbnail.nav-tabs li {
        width: 19%;
        margin-right: -90px;
        margin-left: 14%;
}
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; 
}
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; 
}

    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0;
}

.tab-content {
    overflow: hidden; 
}
  .tab-content img {
        width: 70%;
        margin-left: 14%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; 
}

.stars {
    padding-top: 3%;
    margin-bottom: 1%;
}
.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } 
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; 
}

.card .sizes input{
    margin-left: 3%;
}

.card .sizes label{
    padding-right: 2%;
}
.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
    margin-top: 0;
    font-size: 30px;
    width: 70%;
}

.product-title span {
    color: #ff9f1a;
}

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; 
}

 h5.colors {
    margin-bottom: 0
}

  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; 
}

.product-description, .price, .vote, .sizes {
    margin-bottom: 4%;
}

.action {
    margin-bottom: 11%;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); 
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); 
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    } 
}


/* End one product */





/* Start page Contact */



.contact img {
	width: 100%;
    margin-top: 0
}
.keep-in-toutch {
	text-align: center;
        padding: 60px 0;

}

.keep-in-toutch .interr.row {
	margin-left: 0;
	margin-right: 6%;
}
.keep-in-toutch h4 {
	font-size: 16px;
	color: #eaac00;
    margin: 0;

}

.keep-in-toutch p {
	font-size: 16px;
    color: rgba(123, 123, 123, 255);
    font-weight: 300;


}



.keep-in-toutch h3 {
	font-size: 39px;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 25px;

}

.keep-in-toutch h5 {
	font-size: 16px;
	padding-top: 73px;
	letter-spacing: 2px;
        
    text-transform: uppercase;

	margin-bottom:15px;
}
.keep-in-toutch .form {
	margin-bottom: 101px;
	padding-top: 107px;
}

.keep-in-toutch .form input {
	font-size: 16px;
	color: #293341;
	line-height: 58px;
	width: 100%;
	border:none;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 30px;
}

.keep-in-toutch .form input:hover {
    border-bottom-color: #eaac00;
    transition: all .5s ease-in-out;
}

.keep-in-toutch .form button {
	width: 184px;
	height: 55px;
	background-color: #293341;
	font-size: 14px;
	letter-spacing: 5px;
	border-radius: 0;
	color: #fff;
}

.keep-in-toutch .form button:hover{
    border-color: #eaac00;
    color: #eaac00;
    background-color: #fff;
    transition: all 1s ease-in-out;
    
}

.contact .social-footer {
	border-top: 1px solid #eeeeee; 
	margin-bottom: 0;
}

.contact .social-footer .row {
	background-color:#f9f9f9;
}

.contact .social-footer ul {
	display: inline-block;
}

.contact .social-footer ul a {
	text-decoration: none;
	color: #7b7b7b;
}

.contact .social-footer ul li {
	display: inline-block;
}

.contact .social-footer ul li :hover {
    color: #eaac00;
    transition: color .3s ease-in-out 
}

.contact .social-footer .sites ul {
	text-align: center;
    text-decoration: none;
    margin-top: 10%;
    margin-left: 10%;
    
}

.contact .social-footer ul li {
	padding-right: 44px;
	color:#7b7b7b;
}

.contact .social-footer ul.policy {
    margin-left: 14%;
    margin-top: 8%;
}


.contact p.ri {
    margin-top: 14%
}


/* End page contact */



/* start error */

/* Start Page Eror */

.eror {
	text-align: center;
}
.eror h1 {
	font-size: 100px;
	font-weight: 900;
	color: #fff;
	padding-top: 387px;
	margin-bottom: 28px;
}
.eror p {
	font-size: 18px;
	font-weight: 600;
	color: #e9e9e9;
	line-height: 48px;
	margin-bottom: 50px;
}

.eror input {
	width: 581px;
	height: 60px;
	color: #c6c6c6;
	text-indent: 36px;
	font-size: 16px;
	border:0 solid transparent;
	border-radius: 30px;
	margin-bottom: 389px;
}
.eror input:focus {
	outline: none;
}


/* End page error */




/* Start search page */


.search .our-row.row {
    margin-bottom: 10%;
}

.search .our-nav span h6 {
    font-size: 31px;
    color: #293341;
    margin-top: 9%;
    margin-bottom: 0;
}

.search .our-nav brand a:hover {
    color: #eaac00;
    transition: all .7s ease-in-out
}

.search .our-nav span p {
    font-size: 22px;
    color: #293341
}


.search .row1 {
    background-color: #293341;
    color: #646f7f
}

.search .row1 ul.firist-nav {
    margin-top: 2%;
    margin-left: 55%;
    margin-bottom: 2%;
}

.search .row1 ul.firist-nav i {
    padding-right: 3%;
    font-size: 14px;
}

.search .row1 ul.firist-nav a {
    color: #646f7f;
    text-decoration: none
}

.search .row1 ul.firist-nav a:hover {
    color: #eaac00;
    transition: all .7s ease-in-out    
}

.search .row1 ul.firist-nav i span {
    margin-left: 3px
}

.search .row2 {
    margin-top: 1%
}

.search .row2 ul {
    display: flex;
    list-style: none;
    margin-left: 22%
}
.search .row2 li.nav-item {
    font-size: 18px;
    padding-right: 2%;
}

.search .row2 ul a {
    color: #293341;
    text-decoration: none;
}

.search .row2 ul a:hover {
    background-color: #eaac00;
    color: #fff;
    transition: all .7s ease-in-out
}



/* Start search-products */

.search-products .relative {
    margin-left: 35%;
    margin-bottom: 12%
}

.search-products .relative input {
    width: 67%;
    height: 38px;
    border: 0;
    letter-spacing: 2px;
    background-color: transparent;
    text-indent: 4%;
    border-bottom: 1px solid #ebe5e5;
}



.search-products .relative button {
    border: 0;
    background-color: transparent;
    margin-left: -4%;
}

.search-products .relative button i{
    font-size: 25px;
    color: #7e848c
}

.search-products .relative button i:hover{
    color: #eaac00;
    transition: color .3s ease-in-out
}

/* End search-products */


/* Start new */

.search section.new {
    margin-bottom: 20%;
}

.new h3 {
    font-size: 40px;
    color: #222;
    border-bottom: 2px solid#222;
    width: 51%;
    margin-left: 25%;
    margin-bottom: 9%;
}

.search .new h5:hover {
    color: #eaac00;
    cursor: default;
    transition: all .7s ease-in-out;
}

.search .new h6:hover {
    color: #eaac00;
    cursor: default;
    transition: all .7s ease-in-out
}

.fav i {
    color: red
}

.fav i:hover {
    color: #eaac00;
    transition: color .5s ease-in-out
}

/* End new */



/* End search page */






/* Start page shop */




.our-shop .row-tit h3 {
    margin-left: 40%;
    letter-spacing: 4px;
    margin-bottom: 2%;
}

.breadcrumb {
    background-color: transparent
}
.our-shop nav {
    margin-left: 48%;
    margin-bottom: 6%
}

.our-shop nav ol li a {
    color: #7b7b7b
}


.our-shop aside {
    background-color: #f9f9f9;
    height: 821px
}

.our-shop aside h5.fi {
    margin-top: 15%;
}


.our-shop aside .fis.dropdown-toggle::after {
    display: flex;
    margin-left: -10%;
    margin-top: 19%;
}
.btn-secondary:focus{
    outline: none
}

.btn-secondary h5 {
    border-bottom: 2px solid #101010;
    margin-bottom: 1px;
    letter-spacing: 6px;
}

.btn-secondary h5:hover {
    color: #eaac00;
    border-bottom-color: #eaac00;
    transition: all .5s ease-in-out
}

.btn-secondary:focus-within{
    outline: none
}

.btn-secondary:visited{
    outline: none
}

.our-shop aside a {
    color: #7b7b7b;
    font-size: 16px;
    text-decoration: none;
    background-color: transparent;
}

.our-shop aside h5 {
    line-height: 2;
    width: 100%
}

.our-shop aside h6 {
    color: #7b7b7b;
    font-size: 16px;
    text-decoration: none;
    background-color: transparent;
    line-height: 2.5
}


.our-shop aside .btn-secondary {
    color: #293341;
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 7%;
    display: flex
}

.dropdown-toggle::after {
    display: flex;
    margin-left: -11%;
    margin-top: 4%
}

.our-shop element.style {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(15px, -180px, 0px);
}
.dropdown-menu.show {
    display: flex;
}
.our-shop .dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: 0;
    bottom: auto;
}



.our-shop .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    outline: none;
    color: #293341;
    background-color: transparent;
    border-color: transparent;
    border: 0;
    margin-bottom: 42%;
   

}

e:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 254, 255, 0.5);
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 transparent;
}

.our-shop .btn-secondary.focus, .btn-secondary:focus {
    box-shadow: none
}

.our-shop .dropdown-menu {
    border: 0;
    padding: 0;
    margin: 0;
}

.our-shop .dropdown-menu.show {
    width: 93%;
    background-color: #f9f9f9;
    transition: all .5s ease-in-out
}


.row.aside-filter {
    margin-left: 2%;
    margin-top: 15%
}

.row.aside-filter h5 {
    text-align: center;
    border-bottom: 2px solid #101010;
    margin-bottom: 1px;
    letter-spacing: 6px;
}

.our-shop .range input{
    margin-top: 7%;
    margin-bottom: 10%;
    width: 100%;
    height: 58%;
    color: #c91f28;
    background-color: #c91f28;
}


.row.asid-fl-choose {
    margin-left: 19%;
    text-align: center;
}

.our-shop .aside-pr {
    margin-bottom: 7%;
    margin-top: 3%

}

.our-shop input[type="submit"] {
    cursor: pointer;
    width: 162%;
    height: 65%;
    background-color: #23232c;
    color: #fff;
    letter-spacing: 6px;
}



input {
    overflow: visible;
    font-size: 16px;
    margin-bottom: 8%;
}

.our-shop aside .vendor a {
    margin-bottom: -8%
}



/* End page shop */ 




/* start media */


/* start media 1024 */

@media (max-width: 1024px) {
     
    
/* start one product page */
    
    ul.navbar-nav.ml-auto {
        margin-right: 3%;
    }
    .card {
        background-color: transparent
    }
    
    
    .tab-content img {
        width: 60%
    }
    
    .preview-thumbnail.nav-tabs {
        margin-bottom: 15%;
    }

    .preview-thumbnail.nav-tabs li {
        width: 20%;
        margin-right: -22%;
        margin-left: 14%;
    }
    
    .product-title {
        margin-top: 0;
        width: 70%;
        font-size: 30px;
    }
    
    
    .product-description, .price, .vote, .sizes {
        margin-bottom: 2%;
        font-size: 15px
    }
    
    .card .sizes {
        font-size: 20px;
        margin-bottom: 5%;
    }
    .price span {
        font-size: 23px;
        letter-spacing: 1px;
    }
    
    .card h5.colors {
        margin-bottom: -5%;
    }
    
    .card .color {
        width: 10%;
        height: 46%;
    }
    
    .add-to-cart, .like {
        padding: 4% 6%;
        font-size: 14px;
    }
    
    .card .action {
        margin-bottom: 16%;
    }
    
    
    /* End one product page */
    
    
    /* Start contact media */
    
    
    
    .keep-in-toutch h4 {
        padding-top: 10%
    }
    
    .keep-in-toutch h3 {
        font-size: 32px;
    }
    
    .contact .social-footer .sites ul {
        margin-left: 1%;
        font-size: 13px;
    }
    
    .contact .social-footer ul.policy{
        margin-left: 0;
        font-size: 13px
    }
    .contact p.ri {
        font-size: 13px;
    }
    
    
    
    /* End contact media */ 
    
    
    
    /* start error media */
    
    
    
    .eror h1 {
        font-size: 100px;
        padding-top: 50%;
        margin-bottom: 6%;
    }
    
    .eror p {
    font-size: 30px;   
    }
    .eror input {
        width: 54%;
        height: 75px;
        font-size: 30px;
    }
        
}

 /* End media error */

/* end media 1024 */


/* start media 768 */

@media (max-width: 768px) {
    
    
    
        
    /* start one product page */
    
    
    
    .tab-content img {
        width: 70%;
    }
    

    .preview-thumbnail.nav-tabs li {
        margin-left: 14%;
        width: 21%;
        margin-right: -21%;
    }
    
    .product-title {
        width: 84%;
        font-size: 25px;
    }
    
    
    .product-description, .price, .vote, .sizes {
        margin-bottom: 0;
        font-size: 10px;
        line-height: 1.7;
    }
    
    .card .stars {
        padding-top: 0;
        font-size: 15px;
    }
    .card .sizes {
        font-size: 14px;
        margin-top: 4%;
    }
    
    .card .color {
        width: 10%;
        height: 38%;
    }
    
    .price {
        font-size: 14px;
    }
    
    .card h5.colors {
        font-size: 14px;
        margin-bottom: -4%;
    }
    


    .card .action {
        margin-bottom: 22%;
    }    
    
    .add-to-cart, .like {
        font-size: 12px;
    }
    
    /* End one product page */
    
    
     /* Start contact media */
    
    .keep-in-toutch h3 {
        font-size: 26px;
        width: 41%;
    }
    
    .contact .social-footer ul li {
        padding-right: 20px;
    }
    
    .contact .social-footer .sites ul {
        margin-left: 5%;
        font-size: 13px;
        display: flex
    }
    
    .contact .social-footer ul.policy{
        margin-left: 8%;
        font-size: 13px;
        display: flex;
    }
    .contact p.ri {
        font-size: 13px;
    }
    
    
    /* End contact media */ 
    
    /* start error media */
    
    .eror h1 {
        font-size: 80px;
    }
    
    .eror p {
        font-size: 22px;
    }
    
    .eror input {
        width: 70%;
        height: 75px;
    }
    
    /* End error media */
}


/* end media 768 */


/* start media 414 */

@media (max-width: 414px) {   
        
    /* start one product page */
    
    .details {
        margin-left: 12%;
    }
    .card {
        margin-top: 0
    }
    
    .card img {
        margin-top: 0
    }
    
    .tab-content img {
        width: 70%;
    }
    .preview-thumbnail.nav-tabs li {
        margin-left: 14%;
        width: 21%;
        margin-right: -21%;
    }
    
    .product-title {
        font-size: 23px;
        width: 83%;
    }
    
    
    
    .card .sizes {
        font-size: 14px;
        margin-top: 4%;
    }
    
    .price {
        font-size: 14px;
    }
    
    .card h5.colors {
        font-size: 14px;
        margin-bottom: 11%;
    }
    
    .card .color {
        width: 27px;
        height: 27px;
    }

    .card .action {
        margin-bottom: 22%;
    }    
    
    .add-to-cart, .like {
        font-size: 12px;
    }
    
    /* End one product page */
    
    
     /* Start contact media */
    
    .slider .carousel-item , .slider  {
	    height: 350px !important;
        
            background-position: 70%;


}
    .keep-in-toutch h4 {
        font-size: 14px;
        padding-top: 10%;
        color: #c91f28;
        margin-left: 36%;
    }
    
    .keep-in-toutch h3 {
        font-size: 20px;
        width: 54%;
        margin-left: 19%;
        margin-bottom: 8%;
    }
    
    .keep-in-touch .col-xs-6 {
        width: 50%;
        padding-left: 0
    }
    
    
    .keep-in-toutch .form {
        margin-bottom: 20%;
        padding-top: 10%;
    }
    
    .keep-in-toutch h5 {
        font-size: 10px;
        padding-top: 8%;
        margin-bottom: 6%;
    }
    
    .keep-in-toutch p {
        font-size: 8px
    }
    
    .keep-in-toutch .form input {
        font-size: 12px;
        line-height: 27px;
    }
    
    .contact .social-footer ul li {
        padding-right: 20px;
    }
    
    .contact .social-footer .sites ul {
        margin-left: 0%;
        font-size: 13px;
        display: flex
    }
    
    .contact .social-footer ul a {
        font-size: 12px
    }
    .contact .social-footer ul.policy{
        margin-left: 0%;
        font-size: 13px;
        display: flex;
        margin-top: 0
    }
    .contact p.ri {
        font-size: 13px;
        margin-top: 0
    }
    
    /* End contact media */ 
    
    /* start error media */
    
    
    .eror h1 {
        font-size: 44px;
    }
    
    .eror p {
        font-size: 12px;
        line-height: 200%;
        margin-bottom: 10%;
    }
    .eror input {
        width: 74%;
        height: 55px;
        margin-bottom: 0;
        font-size: 20px;
    }
    
    /* End erro media */
}

    /* start fooer */

.footer h5{
    text-align: center;
}

/* end media 414 */



/* start media 411 */

@media (max-width: 411px) {
    
    
    
        
    /* Start one product page */
    
    .product-title {
        width: 80%;
        font-size: 22px;
    }
    
    
        
    /* End one product page */
    
    
     /* Start contact media */
    
    

    .keep-in-toutch h4 {
        margin-left: 40%
    }
    .keep-in-toutch h3 {
        width: 55%;
        margin-left: 22%
    }
    
    .keep-in-toutch h5 {
        padding-top: 14%;
    }
    
    .keep-in-toutch p {
        font-size: 8px
    }
    
    /* End contact media */ 
    
  
}


/* end media 411 */


/* start media 375 */

@media (max-width: 375px) {
    
    
    
    /* Start one product page */
    
    .details {
        margin-left: 12%;
    }
    
    .product-title {
        width: 76%;
        font-size: 18px;
    }
    
    .card p.vote {
        font-size: 9px;
    }
    
        
    /* End one product page */
    
    
    
     /* Start contact media */
    
    

    .keep-in-toutch h4 {
        margin-left: 40%
    }
    .keep-in-toutch h3 {
        font-size: 18px
    }
    
    .keep-in-toutch h5 {
        padding-top: 14%;
        font-size: 10px;
    }
    
    .keep-in-toutch p {
        font-size: 9px
    }
    .keep-in-toutch .form button {
        width: 128px;
        height: 36px;
        font-size: 7px;
    }
    .keep-in-toutch .form {
        margin-bottom: 10%;
    }
    

    
    /* End contact media */ 
    
  
}


/* end media 375 */



/* Start media 360 */


@media (max-width: 360px) {
    
    
    
    
    /* Start one product page */
    
    
    .product-title {
        font-size: 17px;
    }
    
    
    .card .stars  {
        font-size: 13px;
    }
    
    .card .color {
        width: 26px;
        height: 26px;
    }
    
    /* End one product page */
    
    
    
     /* Start contact media */
    
    

    .keep-in-toutch h4 {
        margin-left: 38%
    }
    .keep-in-toutch h3 {
        font-size: 16px;
        width: 50%;
        margin-left: 23%
    }
    
    .keep-in-toutch h5 {
        padding-top: 14%;
        font-size: 10px
    }
    
    .keep-in-toutch p {
        font-size: 9px
    }
    .keep-in-toutch .form button {
        width: 128px;
        height: 36px;
        font-size: 7px;
    }
    /* End contact media */ 
    
  
}



/* End media 360 */ 



/* start media 320 */

@media (max-width: 320px) {
    
    
    
    
    .product-description, .price, .vote, .sizes {
        line-height: 2;
    }
    
    .product-title {
        font-size: 15px;
        width: 81%;
        margin-bottom: 3%;
    }
    
    .card .rating {
        margin-bottom: 3%
    }
    
    span.review-no {
        font-size: 13px;
    }
    
    .price span {
        font-size: 19px;
    }
    
    .card .sizes input {
        margin-left: 7%;
    }
    
    input#Large {
        margin-left: 33%;
    }
    
    .card h5.colors {
        font-size: 14px;
        margin-bottom: 15%;
    }
    .card .color {
        width: 20px;
        height: 20px;
    }
    
    .color:first-of-type {
        margin-left: 2%;
    }
    
    /* Start media contact */
    
    .keep-in-toutch h4 {
        font-size: 11px;
    }
    
    .keep-in-toutch h3 {
        font-size: 14px;
    }
    
    .keep-in-toutch h5  {
        font-size: 8px;
        letter-spacing: 1px;
    }
    
    .keep-in-toutch p  {
        font-size: 8px;
    }
    
    .keep-in-toutch .form input {
        font-size: 9px;
        line-height: 1;
        margin-bottom: 3%;
    }
    
    .keep-in-toutch .form button {
        width: 98px;
        height: 27px;
        letter-spacing: 2px;
        margin-top: 3%
    }
    
    .contact .social-footer ul a {
        font-size: 10px
    }
    
    /* End media contact  */
    
    
    /* Start media error */
    
    .eror h1 {
        font-size: 35px;
    }
    .eror p {
        font-size: 10px;
    }
    .eror input {
        font-size: 16px;
    }
    
    /* Start media error */
}


/* end media 320 */


/* End media */


/* End Page Eror */


/* start max width 1024 px */


/* media home page */



@media (max-width: 1024px) {
    
        /* Start navbar */
    
    .navbar-light .navbar-nav .nav-link {
        font-size: 15px;
    }
    
        /* End navbar */
    
    
        /* start sale oroducts */
    
    .sale-products {
        padding-top: 4%;
    }
    .sale-products h3 {
        width: 30%
    }
    
    .sale-products .sale .deal h5{
        left: 9%;
    }
    
    .sale-products .sale .counter {
        left: 12%;
    }
    
    .sale-products .girl {
        background-position: 419% 86%;
        background-size: cover;
    }
    
    
    .sale-products .info {
        margin-bottom: 0
    } 

        /* End sale-products */
    .featured {
        padding-top: 0
    }
    
    .featured h3 {
        width: 40%;
    }
    
    .product-grid2:hover .social li{
        transform:translateX(20px)
    }

    
    .ecommerce-sign {
        padding-top: 6%;
        margin-bottom: 6%;
        text-align: center;
    }
    
    .newsletter h1 {
        padding-top: 6%;
        margin-bottom: 4%;
    }
    
    .newsletter p {
        margin-bottom: 7%;
    }
    
    .newsletter input {
        margin-bottom: 6%
    }
        /* End Featured */
    
/*End max width 1024 px */


/* start max width 768px */


    /* media home page */


@media (max-width: 768px) {
    
    /* Start sale-products */
    
    
    .sale-products h3 {
        width: 40%
    }
    
    .sale-products .info button{
        margin-bottom: 6%
    }
    
    .sale-products .sale .deal h5 {
        top: 7%;
        left: 13%;
    }
    
    .sale-products .sale .deal h4 {
        font-size: 39px;
        padding-top: 33%
    }
    
    .sale-products .sale .deal h6 {
        font-size: 18px;
        padding-bottom: 5%;
    }
    
    .sale-products .sale .deal p {
        font-size: 46px;
    }
    
    .sale-products .sale .counter {
        top: 64%;
        transform: translate(-6%)
    }
    
    .sale-products .sale tr.info {
        font-size: 40px;
    }
    
    tr.limited {
        font-size: 14px;
    }
    
    .sale-products .sale .add button {
        font-size: 14px;
        padding: 19px 25px;
    }
    
    /* start featured */
    
    
    .featured h3 {
        width: 41%;
        font-size: 30px
    }
    
    .product-grid2 .product-image2 img {
        width: 100%;
        
    }
    
    .product-grid2 .product-image2 img.pic2 {
    }
    
    .product-grid2 .product-image2 a {
        width: 75%;
        margin-left: 6%;
    }
    
    .product-grid2:hover .social li{
        transform:translateX(-10px)
    }
    
    .product-grid2 .add-to-cart {
        width: 75%;
        transform: translateX(39px)
    }
    
    .product-grid2:hover .description {
        transform: translate(21px)
    }
    
    
    /* End featured */
    
    /* Start instgram */
    
    .instgram h1 {
        line-height: 2;
    }
    
    
    /* End instgram */
    
    .footer {
            font-size: 9px;
    }
    
    .footer h6 {
        margin-bottom: 6%
    }
    
    .footer li {
        line-height: 24px;
    }
    /* End dslae-products */
}

/* End max width 768px */


/* start max width 414px */


/* media home page */

@media (max-width: 414px){
    
    /* start upper par */
    
     img{
        width: 100%
    }
    
    
    .upper-bar i {
        font-size: 13px
    }
    .upper-bar i.fas.fa-phone {
    margin-right: 14%;
    }
    
    /* End upper par */
    
    /* Start carousel */
    
    .slider .carousel-item, .slider {
        height: 273px !important;
        background-position: 69%;
    }
    
    .slider .carousel-inner h4 {
        font-size: 25px;
        top: 63%;
    }
    
    .slider .carousel-inner h1 {
        font-size: 65px;
        font-weight: bold;
    }
    
    /* End carousel */
    
    .sale-products {
        padding-top: 9%
    }
    
    .sale-products h3{
        font-size: 26px;
        width: 47%;
        margin-bottom: 10%
    }
    .sale-products img {
        margin-top: 0;
    }
    /* Start sale */
    
    .sale-products .info button {
        margin-bottom: 12%
    }
    
    .sale-products .sale .deal h5 {

        font-size: 33px;
        padding: 6px 13px 8px 30px;
        top: 7%;
        left: 15%;
    }
    
    .sale-products .sale .deal h4 {
        font-size: 30px;
        margin-right: 17%;
        padding-top: 30%;
        margin-bottom: 5%
    }
    
    .sale-products .sale .deal h6 {
        font-size: 19px;
        padding-bottom: 0;
    }
    
    .sale-products .sale .deal p {
        padding-bottom: 0;
        margin-bottom: 0
    }
    
    .sale-products .sale .add {
        padding-bottom: 0 ;
        padding-top: %
    }
    
    .sale-products .sale .counter {
        top: 64%;
        margin-left: 0;
        transform: translate(1%)
    }
    
    .sale-products .sale tr.info {
        font-size: 39px;
    }
    
    .sale-products .sale .add button {
        font-size: 12px;
        margin-bottom: 14%;
        padding: 16px;
        margin-left: 4%;
    }
    
    .info button {
        margin-bottom: 25%
    }
    
    
    /*End sale */
    
    /* Start featured */
    .featured h3 {
        width: 60%;
        font-size: 25px;
        margin-bottom: 3%
    }
    .featured {
        padding-top: 2%;
        margin-bottom: 2%;
    }
    
    .featured img {
        margin-top: 9%
    }
    
    .featured .info h5 {
        margin-bottom: 0
    }
    
    .product-grid2:hover .social li{
        transform:translateX(-36%)
    }
    

    .product-grid2 .add-to-cart {
        width: 75%;
    }
    
    .product-grid2 {
        overflow: hidden;
    }
    /* End featured */
    
    
    /* Start ecommerce */ 
    .ecommerce-sign {
        padding-top: 13%;
        margin-bottom: 2%;
    }
    
    .ecommerce-sign .col-md-3 {
        margin-bottom: 0
    }
    
    /* End commerce */ 
    
    .instgram img {
        width: 100%;
    }
    
    /* Start news letter */
    
    .newsletter h1 {
        font-size: 23px;
        padding-top: 6%;
        margin-bottom: 3%;
    }
    .newsletter p {
        margin-bottom: 12%;
    }
    .newsletter input {
        width: 100%;
        display: block;
        margin-right: 1%;
        margin-bottom: 0;
        border: 0;
    }
    .newsletter button {
        font-size: 18px;
        width: 100%;
        padding: 3.4% 7% 3.4% 8%;
        margin-bottom: 6%
    }
    
    .footer h6{
        margin-bottom: 3%
    }
    
    .footer li {
        line-height: 19px;
    }
    
    .footer h5 {
        padding-top: 0;
        margin-bottom: 3%;
    }
}
/* media home page */
/* End max width 414px */

/* start max width 411 */


/* media home page */



@media (max-width: 411px) {
    
    /* Start sale-products */
        
    .sale-products .sale .counter {
        transform: translate(3%)
    }
    
    /* Start sale-products */


    
    /* Start featured */
    
    .product-grid2:hover .social li{
        transform:translateX(-36%)
    }
    

    .product-grid2 .add-to-cart {
        width: 75%;
    }
    
    /* End featured */
}

/* End max-width = 411px */
    
    /* Start max -width = 375px */
    
    
@media (max-width: 375px) {
    
    /* start upper par */
    
    .upper-bar i {
        font-size: 13px
    }
    .upper-bar i.fas.fa-phone {
        margin-right: 14%;
    }
    
    
    .collapse.navbar-collapse a{
        display: inline-block
    }
    
    /* End upper par */
    
    /* Start carousel */
    
    .slider .carousel-inner h4 {
        font-size: 35px;
        top: 63%;
    }
    
    .slider .carousel-inner h1 {
        font-size: 85px;
        font-weight: bold;
    }
    
    /* End carousel */
    
   .sale-products h3 {
       width: 52%;
    }
    
    /* Start sale */
    
    .sale-products img {
        width: 100%;
    }
    .sale-products .sale .deal h5 {

        font-size: 33px;
        padding: 6px 13px 8px 30px;
        top: 7%;
        left: 11%;
    }
    
    .sale-products .sale .deal h4 {
        font-size: 30px;
        margin-right: 20%;
        padding-top: 38%;
        line-height: 40px;
        margin-bottom: 9%;
    }
    
    .sale-products .sale .deal h6 {
        font-size: 18px;
        margin-right: 5%;
    }
    
    .sale-products .sale .deal p {
        font-size: 47px;
        padding-top: 6%;
        margin-bottom: 3%
    }
    
    .sale-products .sale .counter {
        transform: translate(-3%);
        top: 69%
    }
    
    .sale-products .sale .add {
        padding-bottom: 0 
    }
    
    
    tr.limited {
        font-size: 13px;
    }
    
    .sale-products .sale tr.info {
        font-size: 39px;
    }
    
    .sale-products .sale .add button {
        padding: 4% 4% 4% 5.4%;
        margin-bottom: 4%;
        margin-top: -4%
    }
    /*End sale */
    
    /* Start featured */

    .featured {
        padding-top: 2%;
        margin-bottom: 0%;
    }
    
    .featured h3 {
        width: 67%;
        font-size: 25px;
    }


    .product-grid2:hover .social li{
        transform:translateX(-36%)
    }
    

    .product-grid2 .add-to-cart {
        width: 75%;
    }
    
    
    
    /* Start ecommerce */ 
    .ecommerce-sign {
        margin-bottom: 16%;
    }
    
    .ecommerce-sign .col-md-3 {
        margin-bottom: 20%
    }
    
    /* End commerce */ 
    
        /* Start instgram  */
        
    .instgram img {
        width: 100%;
        margin-left: 0;
    }
    
    /* End instgram */
    
    /* Start news letter */
    
    .newsletter h1 {
        font-size: 23px;
        line-height: 2
    }
    .newsletter p {
        font-size: 11px;
        margin-bottom: 9%;
    }
    .newsletter input {
        width: 100%;
        display: block;
        margin-right: 1%;
        margin-bottom: 0;
        border: 0;
    }
    .newsletter button {
        font-size: 18px;
        width: 100%;
        padding: 3.4% 7% 3.4% 8%;
        margin-bottom: 6%
    }
    
    /* End news letter */
    
    .ecommerce-sign {
        margin-bottom: 2%;
    }
    .ecommerce-sign .col-md-3 {
        margin-bottom: 0;
    }
    .ecommerce-sign p {
        padding-top: 15%;
    }
}
/* media home page */
/* End max width 375px */

/* media home page */
/* Start max width 360px */

@media (max-width: 360px) {
    
    /* start upper bar */
    
    .upper-bar i.fas.fa-phone {
        margin-right: 10%;
    }
    
    /* End upper par */
    
    /* Start carousel */
    
    .slider .carousel-inner h1 {
        font-size: 70px;
        font-weight: 600;
    }
    
    .slider .carousel-inner h4 {
        font-size: 26px;
        top: 60%;
    }
    
    /* End carousel */
    
    /* Start Sale-products */

    .sale-products {
        padding-top: 6%;
    }
    
    .sale-products h3 {
        width: 55%;
    }
    
    .info h5 {
        font-size: 20px;
        margin-bottom: 6%;
    }
    
    .sale-products .sale .deal h4 {
        font-size: 34px;
        padding-top: 28%;
        line-height: 52px;
        margin-bottom: 3%;
        margin-right: 1%;
    }
    
    .sale-products .sale .deal h5 {
        left: 15%
    }
    
    .sale-products .sale .deal h6 {
        font-size: 16px;
    }
    
    .sale-products .sale .deal p {
        font-size: 34px;
        padding-top: 2%;
        margin-bottom: 0;
    }
    
    .sale-products .sale .counter {
        transform: translate(5%);
    }

    .sale-products .sale .add button {
        padding: 15px
    }
    
    .sale-products .sale tr.info td {
        font-size: 32px;
        padding-left: 0;
        padding-right: 0;
    }
    tr.limited {
    font-size: 12px;
    }
    
    /* End Sale-products */
    
    /* Start Featured */
    
    .featured {
        padding-top: 3%;
    }
    
    .featured h3 {
        width: 48%;
        font-size: 17px;
        margin-bottom: 5%
    }
    
    .featured img {
        margin-top: 5%;
    }
    
    
    .product-grid2:hover .social li{
        transform:translateX(-36%)
    }
    

    .product-grid2 .add-to-cart {
        width: 75%;
    }
    
    
    /* End Featured */
    
    /* Start Instgram */
    
    .instgram h1 {
        text-align: center;
        line-height: 2;
    }
    
    .instgram p {
        margin-bottom: 0
    }
    
    .ecommerce-sign p{
        font-size: 9px
    }
    
    .ecommerce-sign {
        padding-top: 7%;
        margin-bottom: 4%;
    }
    
    
    .newsletter h1 {
        font-size: 22px;
    }
    
    .newsletter input {
        height: 43px;
    }
    
    .newsletter button {
        padding: 2.4% 7% 3.4% 8%;
    }
    /* End Instgram */  
    
    .footer li {
        line-height: 15px;
    }
}

    /* End max width 360

    /* media home page */
    /* Start max width 320px */
    
@media (max-width: 320px) {
    
    /* Start upper bar */
    
    .upper-bar i {
        font-size: 10px;
        }
    .upper-bar i.fas.fa-phone {
        margin-right: 19%;
    }
    
    /* End upper bar */
    
    /* Start carousel */
    
    .slider .carousel-inner h1 {
        font-size: 60px;
        font-weight: 600;
    }
    .slider .carousel-inner h4 {
        font-size: 23px;
        top: 61%;
    }
    /* End carousel */
    
    .sale-products .sale .deal h5 {
        font-size: 30px;
        padding: 4px 7px 4px 20px;
        top: 7%;
        left: 20%
    }
    
    .sale-products .sale .deal h4 {
        font-size: 26px;
        padding-top: 28%;
        line-height: 34px;
    }
    
    .sale-products .sale .deal h6 {
        font-size: 15px;
        margin-left: 12%;
    }
    
    .sale-products .sale .deal p{
        padding-top: 0
    }
    
    .sale-products .sale .counter {
        top: 64%;
        transform: translate(0);
    }
    
    .sale-products .sale .add button {
        padding: 13px;
    }
    
    /* Start featured */
    
    .featured h3 {
        font-size: 15px;
    }
    .product-grid2 .product-image2 img {
        width: 100%;
    }
    
    .product-grid2 .social {
        bottom: 15%;
    }
    
    .product-grid2:hover .social li{
        margin-bottom: 0;
        transform:translateX(-36%);
    }
    .product-grid2 .social li a {
        line-height: 0;
        height: 36px;
        width: 36px;
        border: 0
    }
    
    .product-grid2:hover .social li i {
        font-size: 10px;
    }
    .product-grid2:hover .add-to-cart {
        font-size: 10px;
    }

    .product-grid2 .product-image2 a {
        height: 15%;
        width: 60%;
        margin-left: 13%;
    }
    
    .product-grid2 .description {
        font-size: 10px;
    }
    
    .info p {
        font-size: 10px;
    }
    
    .info h5 {
        font-size: 15px;
    }
    
    
    /* End featured */
    
    /* Start instgram */
    
    .instgram h1 {
        font-size: 28px;
    }
    
    .instgram img {
        width: 100%;
    }
    
    /* End instgram */
    
    /* Start newsletter */
    
    .newsletter h1 {
        font-size: 18px;
    }
    
        .newsletter p {
        font-size: 11px;
        margin-bottom: 8%;
    }
    
    .newsletter input {
        height: 35px;
    }
    .newsletter button {
        padding: 1.4% 7% 2.4% 8%;
        font-size: 14px;
    }
    /* End newsletter */
    
    /* Start footer */
    
    .footer h6 {
        margin-bottom: 9%
    }
    
    .footer ul {
        margin-bottom: 6%
    }
    
    .footer i {
        padding-right: 2px;
        font-size: 8px;
    }
    
}


/* End max width 320px */






    
    
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    